<html ng-app="countryApp">
  <head>
    <meta charset="utf-8">
    <title>Angular.js Example</title>
    <script src="angular.js"></script>
    <script>
      var countryApp = angular.module('countryApp', []);
      countryApp.controller('CountryCtrl', function ($scope, $http){
	  $scope.name = "Ahmed MUSTAPHA";
        $http.get('category.php').success(function(data) {
          $scope.countries = data;
        });
      });
    </script>
  </head>
  <body ng-controller="CountryCtrl">
  {{name}}
    <table>
      <tr ng-repeat="country in countries">
        <td>{{country}}</td>
      </tr>
    </table>
  </body>
</html>